name: Deploy to Dev or Prod
on:
  push:
    branches: [ main, dev ]
permissions:
  contents: write
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          
      - name: Install dependencies
        run: npm install
        
      - name: Build project
        run: npm run build
        
      - name: Deploy to Target Branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist
          # Se o push for na 'main', envia para 'prod'. Se for na 'dev', envia para uma branch de arquivos de dev.
          branch: ${{ github.ref == 'refs/heads/main' && 'prod' || 'dev-build' }}
          clean: true

      - name: Purge jsDelivr Cache (Prod)
        if: github.ref == 'refs/heads/main'
        run: |
          curl -i https://purge.jsdelivr.net/gh/mpmathis01/firmou@prod/index.html

      - name: Purge jsDelivr Cache (Dev)
        if: github.ref == 'refs/heads/dev'
        run: |
          curl -i https://purge.jsdelivr.net/gh/mpmathis01/firmou@dev-build/index.html
